<h1>New Note</h1>


<!--<%= #link_to 'Back', notes_path %>  -->


<%= form_for(@notes) do |f| %>
  <% if @note.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@note.errors.count, "error") %> prohibited this period from being saved:</h2>

      <ul>
      <% @note.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %><!--
  <div class="row">
     <div class="input-field col s3">
        <select>
          <option value="" disabled selected>Choose a student</option>
          <option value="1">Student 1</option>
          <option value="2">Student 2</option>
          <option value="3">Student 3</option>
        </select>
        <label>Student</label>
    </div>
</div> -->
  <div class="field">
    <%= f.label :teacher_id %><br>
    <%= f.number_field :teacher_id %>
  </div>
  <div class="field">
    <%= f.label :class_id %><br>
    <%= f.number_field :class_id %>
  </div>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.number_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.number_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>












<div class="row">
     <div class="input-field col s3">
        <select>
          <option value="" disabled selected>Choose a student</option>
          <option value="1">Student 1</option>
          <option value="2">Student 2</option>
          <option value="3">Student 3</option>
        </select>
        <label>Student</label>
    </div>
</div>
<div class="row">
    <div class="input-field col s3">
      <input type="date" class="datepicker">
    </div>
</div>


      <div class="row">
        <div class="input-field col s3">
          <input id="last_name" type="text" class="validate">
          <label for="title">Title</label>
        </div>
      </div>
      <div class="row">
        <div class="input-field col s3">
          <input id="description" type="text" class="validate">
          <label for="description">Description</label>
        </div>
      </div>

      <div class="row">
        <div class="input-field col s3">
          <input id="email" type="email" class="validate">
          <label for="email">Email</label>
        </div>
      </div>
    </form>
  </div>
  <!-- Switch -->

  <div class="switch">
    <label>
      Positive
      <input type="checkbox">
      <span class="lever"></span>
      Negative
    </label>
  </div>
