<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @period.name %>
</p>


<p>
  <strong>Period:</strong>
  <%= @period.period %>
</p>


<% if @students %>
  <% if @students.class_id == params[:id]%>
    <% @students.each do |student| %>
    <tbody>
        <tr>

            <th><%= student.fname %></th>
            <td><%= student.lname %></td>

            <td><a href="/profiles/<%=@user.id%>/students/<%= student.id %>/edit" class= "editLink">Edit </a>
            </td>
            <td>
                <form id="noteList" action="/profiles/<%=@user.id%>/students/<%= student.id %>" method="POST">
                  <input type='hidden' name='_method' value='delete'>
                  <input class="deleteNote" type="submit" value="delete">
                </form>
            </td>
      </tr>
    </tbody>
    <% end %>
  <%end %>
<%end %>
</table>




