<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @period.name %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @period.teacher_id %>
</p>

<p>
  <strong>Period:</strong>
  <%= @period.period %>
</p>

<%= link_to 'Edit', edit_period_path(@period) %> |
<%= link_to 'Back', periods_path %>
