
  <p id="notice"><%= notice %></p>

<h5 class='center'>
  <strong>Welcome, <%= @user.fname %> </strong>
</h5>



 <!--  <ul class="collapsible" data-collapsible="accordion">
    <li>
      <div class="collapsible-header"><i class="material-icons">filter_drama</i>First</div>
      <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">place</i>Second</div>
      <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
    </li>
    <li>
      <div class="collapsible-header"><i class="material-icons">whatshot</i>Third</div>
      <div class="collapsible-body"><p>Lorem ipsum dolor sit amet.</p></div>
    </li>
  </ul> -->










<div class="col s12">
  Graphs

</div>
<div class="col s12">
  <%= @user.periods %>
  <% if @user.periods %>
    <% @user.periods.each do |period| %>
  <div class="col s3">
    Period <%= period.period %>

    <a class="btn-floating btn-large waves-effect waves-light indigo"><i class="material-icons">
    </i></a>
  </div>

<% end %>
<% end %>


<div class="col s6">
   <table class="highlight center responsive-table">
    <%= @user.notes %>



    <thead>
        <tr>
            <th></th>
            <th>Student</th>
            <th>Title</th>
            <th>Positive</th>
            <th>Edit</th>
            <th>Delete</th>
        </tr>
    </thead>
<%= @user.notes %>
  <% if @user.notes %>
    <% @user.notes.each do |note| %>
    <tbody>
        <tr>

            <th><%= note.date %></th>
            <td><%= note.student %></td>
            <td><%= note.title %></td>
            <td><%= note.positive %></td>
            <td><a href="/profiles/<%=@user.id%>/notes/<%= note.id %>/edit" class= "editLink">Edit </a>
            </td>
            <td>
                <form id="noteList" action="/profiles/<%=@user.id%>/notes/<%= note.id %>" method="POST">
                  <input type='hidden' name='_method' value='delete'>
                  <input class="deleteNote" type="submit" value="delete">
                </form>
            </td>
      </tr>
    </tbody>
  <%end %>
<%end %>
</table>

<h5>Add your communication note below</h5>

<form action = "/profiles/<%=@user.id%>/notes" method = 'post' action="create" class = 'add_note' id = <%= @user.id %>>
  <input type= 'text' name = 'student' placeholder= 'student'>
  <input type= 'date' name = 'date_of_meeting' placeholder= 'date'>

  <input type= 'text' name = 'title' placeholder= 'title'>
  <input type= 'text' name = 'description' placeholder='description'>
   <div class="switch">
    <label>
      Positive
      <input type="checkbox">
      <span class="lever"></span>
      Negative
    </label>
  </div>
  <input type= 'submit' value='Add Note' class="btn-large waves-effect waves-light indigo">
</form>

<table :hidden>
    <tbody class="note-template">
        <tr class="pure-table-odd">
            <th class='id'></th>
            <td class='student'></td>
            <td class='title'></td>
            <td class='positive'></td>
            <td><a href="" class= "note-edit">Edit </a></td>
            <td>
                <form action="" method="POST" class = "note-delete">
                    <input type='hidden' name='_method' value='delete'>
                    <input type="submit" value="delete">
                </form>
            </td>
      </tr>
    </tbody>
</table>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
<%= link_to 'Edit', edit_user_path(@user) %> |

